#formato_Principal{
    margin: 10px ;
    display: table;
}
.imagen{
    display: block;
    margin: 0 auto;
    width: 300px;
}
h1 {text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 3px 3px 2px black;
    padding-top: 0px;
    font-size: 50px;
    color: rgb(95, 95, 95);
}
.tproducts{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}
.thproducts, .tdproducts{
	padding: 25px;
}
.theadproducts{
	background-color: hsl(162, 46%, 38%);
	border-bottom: solid 5px hsl(108, 78%, 35%);
	color: white;
}
.trproducts:nth-child(even){
	background-color: #ddd;
}
.trproducts:hover td{
	background-color: #369681;
	color: white;
}

