#formato_Principal{
    margin: 10px ;
    display: table;
}
.fproduct{
    margin: 50px;
    text-align: center;
}
.registro{
    width: 200px;
    padding: 2px;
    margin: 4px;
}
.imagen{
    display: block;
    margin: 0 auto;
    width: 300px;
}
h1 {text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 3px 3px 2px black;
    padding-top: 0px;
    font-size: 50px;
    color: rgb(95, 95, 95);
}
.tproducts{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}
.thproducts, .tdproducts{
	padding: 25px;
}
.theadproducts{
	background-color: hsl(162, 46%, 38%);
	border-bottom: solid 5px hsl(108, 78%, 35%);
	color: white;
}
.trproducts:nth-child(even){
	background-color: #ddd;
}
.trproducts:hover td{
	background-color: #369681;
	color: white;
}


/** Hojas de estilo del Formulario */

.form-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form-field {
    border: 1px solid orange;
    display: flex;
    flex-direction: row;
    margin: .4rem .2rem;
}

.form-field label {
    background: transparent;
    text-align: normal;
    width: 7rem;
}

.form-field input,
.form-field select {
    width: 9rem;
}

.form-buttons {
    margin: 1rem 0;
}

.form-buttons .btn {
    border: none;
    margin: 0 .4rem;
    padding: 0.3rem .8rem;
}

.form-buttons .btn-submit {
    background: #008000;
    border: 1px solid transparent;
    color: white;
}

.form-buttons .btn-cancel {
    background: white;
    border: 1px solid #008000;
    color: #008000;
}